/* DOC */
.navigation {
  position: fixed;
  top: 18em;
  left: 1em;
}
.navigation a:active,
.navigation a:focus,
.navigation a:hover {
  transition: all ease .3s;
  color: #fff;
  background: #c7254e;
}
/* common */
.first-item {
  margin-left: 0 !important;
}
.last-item {
  margin-right: 0 !important;
}
/* slider */
.mui-slider-wrapper.a.h {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  padding: 0;
}
.mui-slider-wrapper.a.h .mui-slider-content {
  position: absolute;
  left: 0;
  top: 0;
}
.mui-slider-wrapper.a.h .mui-slider-content .mui-slider-group {
  float: left;
  overflow: hidden;
}
.mui-slider-wrapper.a.h .mui-slider-content .mui-slider-group .mui-slider-item {
  position: relative;
  float: left;
  overflow: hidden;
}
.mui-slider-wrapper.a.h .mui-slider-content .mui-slider-group .mui-slider-item .mui-slider-item-image {
  display: block;
}
.mui-slider-wrapper.a.h .mui-slider-content .mui-slider-group .mui-slider-item .mui-slider-item-caption {
  position: absolute;
}
.mui-slider-wrapper.a.h .mui-slider-dots-wrapper {
  overflow: hidden;
  position: absolute;
}
.mui-slider-wrapper.a.h .mui-slider-dots-wrapper .mui-slider-dots-item {
  width: 20px;
  height: 20px;
  float: left;
  background: #000;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.mui-slider-wrapper.a.h .mui-slider-dots-wrapper .mui-slider-dots-item:first-of-type {
  background-color: #0082f0;
}
.mui-slider-wrapper.a.h .mui-slider-navcontrol-back {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: url(images/icon_prev.png) top center no-repeat;
}
.mui-slider-wrapper.a.h .mui-slider-navcontrol-forward {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  cursor: pointer;
  background: url(images/icon_next.png) top center no-repeat;
}
/*
*
*	dialog
*
*/
.mui-dialog-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 2000;
  top: 0;
  left: 0;
}
.mui-dialog-wrapper {
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  background: #fff;
  z-index: 3000;
  left: 35%;
  top: 35%;
}
.mui-dialog-wrapper .mui-dialog-title {
  cursor: move;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 30px;
  color: #666;
  border-bottom: 2px solid #0082f0;
}
.mui-dialog-wrapper .mui-dialog-title .mui-dialog-close {
  display: inline-block;
  float: right;
  width: 16px;
  cursor: pointer;
  height: 16px;
  background: url('/data/afficheimg/base.gif') 0 0 no-repeat;
}
.mui-dialog-wrapper .mui-dialog-body {
  padding: 10px 30px;
}
